/venv
/venv2
/.venv
/__pycache__
/.idea
/PlayerokAPI/__pycache__
/Utils/__pycache__
/tg_bot/__pycache__
/logs
/storage
/configs
/plugins/*.py
!/plugins/__init__.py
/build
/dist
/release-build
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
.pytest_cache
.coverage
*.log
test.py
test_*.py
backup.zip
UPLOAD_TO_GITHUB.bat
TEST_WINDOWS.md
STRUCTURE.md
